@import "../../vars.css";

.container {
    position: relative;
    display: flex; /*horizontal layout*/
    align-items: center;
    justify-content: space-between; /* spread items across full width, spreads first item at the start and last item at the ends*/
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}