@import "../../vars.css";


.container {
    position: relative;
    background-color: rgba(15, 15, 15, 0.6); /* change to black */
    border-radius: 16px;
    padding: 70px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%; /* centralizes*/
    margin-right: 10%; /* centralizes*/
}

.title {
    color: var(--text-color);
    text-transform: uppercase; 
    font-weight: 700px;
    font-size: 35px;
    letter-spacing: 1.75px;
}

/*pointless without the picture on the left*/
.content {
    display: flex;
    flex-direction: row; /*horizontal layout*/
    align-items: center;
}

.items {

}